.form {
  padding: 20px;
}

.form label,
.form button,
.help_text,
.error_text {
  margin-top: 12px;
}

.form label {
  display: block;
}

.form input {
  margin-left: 4px;
}

.form button {
  padding: 8px 12px;
  background-color: rebeccapurple;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}

.help_text,
.error_text {
  font-size: 0.875rem;
}

.help_text {
  color: lightslategrey;
}

.error_text {
  color: crimson;
}
